:root {
  font-family: Arial, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #f9f9f9;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #17408b;
  transition: 333ms;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 280px;
  min-height: 100vh;
}

.pageTop{
  margin-top: 2em;
}

h1 {
  line-height: 1.1;
}

.bold {
    font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

tr {
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

tr:hover {
  background-color: #e0e0e0;
}

table td, table th {
  padding: 8px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #404040;
  cursor: pointer;
  color: white;
  align-self: center;
  width: auto;
  max-width: 100%;
}

button:hover {  
  border-color: #17408b;
  transform: scale(1.02);
  background-color: #17408b;
}
button:focus,
button:focus-visible {
  outline: 4px auto white;
  transform: scale(1.02);
}

@media(max-width: 400px){
  #app{
    max-width: 390px;
    padding: 0;
    margin: 0;
  }

  body{
    max-width: 390px;
    padding: 0;
  }

}

@media(max-width: 450px){
  #app{
    max-width: 400px;
    padding: 0;
    margin: 0;
  }
  
  body{
    max-width: 400px;
    padding: 0;
    margin: 0;
    align-self: center;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
}